@import '../styles/shared.scss';

.Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: px(40);
    margin: px(64) px(48) px(32);
}

.Card {
    min-height: px(320);
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .08);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    background-size: cover;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin: px(16) 0 0 px(16);

        >* {
            @include flex-center-vert;
            margin-bottom: px(6);

            img {
                width: px(20);
                height: 100%;
                margin-right: px(10);
            }
        }
    }

    &:hover {
        box-shadow: 0 10px 10px rgba(0, 0, 0, .16);
        transform: translate(0, -10px);
        cursor: pointer;
    }
}